<html>
<head>
    <title>Waiting room</title>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/spin.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.spin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
</head>
<body>
    <h1>Your room name is: {{ room_name }}</h1>

    <h3>People in this room:</h3>
    <ul id="players">
    </ul>

    <script>
        var socket = io();
        socket.emit('join', {room_name: '{{ room_name }}', my_name: '{{ my_name }}'});
        socket.on('player_joined', function(data){
            $('#players').append($('<li>').text(data.player_name));
          });
    </script>
</body>
</html>
